body {
  width: 99%;
  height: 900px;
  background-color: #fc6;
}

#top-bar {
  margin-top: 28px;
  text-align: center;
}

.spacing-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

.enter_section {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#enter_text {
  width: 400px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  font-size: 38px;
}

.task {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.button-size {
  padding-bottom: 20px;
}

#text-enter-button {
  margin-top: 10px;
  margin-bottom: 18px;
}

h1 {
  color: #f30;
}

.myHeader {
  width: 100%;
  color: #f30;
  margin: auto;
  text-align: center;
  font-size: 32px;
  padding-bottom: 10px;
}

.addB {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  font-weight: bold;
}

.myButton {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: #fc6;
  border: 1pt black solid;
  width: 120px;
  font-weight: bold;
}

.newB {
  width: 100%;
  background-color: whitesmoke;
}

.eatenB {
  background-color: whitesmoke;
}
